[agent]
integrations = ["firebase_barebones_javascript:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Chrome extension - no server needed\""

[workflows.workflow.metadata]
outputType = "console"
